@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef6f9;
  --foreground: #2d1b2e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
